
body {
width: 70%;
margin-left : auto;
margin-right : auto;
padding : 0px;
/* font-family: arial, sans-serif; */
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
 margin-top: 60px;  
}

p {
    text-align: justify;
    font-size: 20px;
}

.image1 {
    margin-left: 750px;
    
}
img {
    width: 200px; 
    height: 200px;
}

.enlace {
   margin-bottom: 20px;
}

.enlace a {
    color: blue;
}

span{
    color: red;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 60px;  
}

td, th {
    border: 1px solid #585757;
    text-align: left;
	padding: 8px;
}

th {
    background: #141212;
    color: white;
}

td:first-child {
    font-weight: bold;
}

tr:nth-child(4) {
    border: 2px solid #030303;
}